body{
  background-image: url("gradient.jpg");
}
h1{
  font-family:'Verdana',sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}
h1:hover{
  font-size: 50px;
}
table{
  display: inline;
}
h2{
  border-style: ridge;
  border-color: green;
}
img{
  vertical-align: bottom;
}
tr:nth-child(2) {
    background: yellow;
}
a:visited{
  color: white;
}
th:first-of-type{
  background:blue;
}
